@media (min-width: 640px) {
    .activity-bar {
        height: 100dvh !important;
        flex-direction: column;
        padding: 24px 6px 12px 6px !important;
        transition: width 0.5s ease-in;
    }

    .nav-lst-1 {
        flex-grow: 1;
        margin-top: 3.5rem;
        flex-direction: column;
        justify-content: start !important;
    }

    .guest-hero h1 {
        line-height: 1;
        max-width: 20rem;
        text-align: start;
        font-size: 3.75rem;
        letter-spacing: 0.05rem;
    }

    .guest-hero p {
        padding: 0;
        line-height: 1.5;
        margin-top: 2rem;
        max-width: 25rem;
        margin-top: 2rem;
        font-size: 1.5rem;
        text-align: start;
        letter-spacing: 0.05rem;
    }

    .logo{
        width: 3rem !important;
        height: 3rem !important;
        transform: translate(0.25rem, -0.375rem) !important;
    }

    .hero-img {
        position: absolute !important;
        top: 20%;
        right: 5% !important;
    }

    .auth-form {
        border-radius: 1rem;
        width: 35% !important;
        min-width: 24rem;
        height: fit-content !important;
    }

    .project-row {
        width: 17%;
        display: block !important;
        padding-left: 1rem;
    }

    .notes-container {
        padding: 0.75rem 1.5rem;
        border-radius: 0.75rem;
        margin-top: 0 !important;
        height: 33rem !important;
    }
}