.quill {
  gap: 0.5rem;
  flex-grow: 1;
  display: flex;
  border-radius: 0.5rem;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.1);
}

.ql-toolbar.ql-snow {
  height: fit;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.25rem;
  border: 0px !important;
  background-color: rgba(17, 17, 17, 0.603);
}

.ql-snow .ql-fill {
  fill: #a1a1a1 !important;
}

.ql-snow .ql-stroke {
  stroke: #8e8e8e !important;
}

.ql-snow.ql-toolbar button:hover .ql-stroke,
.ql-snow.ql-toolbar button.ql-active .ql-stroke {
  stroke: #fff !important;
}

.ql-snow.ql-toolbar button:hover .ql-fill,
.ql-snow.ql-toolbar button.ql-active .ql-fill {
  fill: #fff !important;
}

.ql-toolbar .ql-picker-label {
  color: #fff;
}

.ql-expanded {
  color: #333;
}

.ql-container.ql-snow {
  flex-grow: 1;
  max-height: 28rem;
  border: 0px !important;
}

.ql-editor {
  color: #fff;
  padding: 1rem;
  font-size: 1.1rem;
  overflow-y: auto;
  border-radius: 0.6rem;
}

.ql-editor::-webkit-scrollbar {
  width: 0.5rem;
}

.ql-editor::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #111;
}

.ql-editor::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #e4e4e400;
}

.palette-toggle {
  transition: width 0.3s linear;
}

@media (min-width: 768px) {
  .ql-toolbar.ql-snow {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }
}