@import "tailwindcss";

@theme {
  --color-prim-black: #111;
  --color-grad-l: #2E3038;
  --color-grad-r: #454955;
  --color-prim-yellow-50: #FCCF5F;
  --color-prim-yellow-100: #FBBD23;
  --color-prim-yellow-200: #F0AD05;
  --color-prim-yellow-250: #DC9F04;
  --color-prim-yellow-300: #C89004;
  --color-drop-header: #99a1af09;
  --color-drop-border: #ffffff19;
  --color-drop-btn: #9f9fa909;
  --color-drop-btn-hover: #9f9fa919;
  --color-drop-btn-active: #9f9fa935;

  --text-md: 1.05rem;

  --scale-101: 1.01;

  --default-transition-duration: 0.4s;
}

.truncate-3-lines {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; 
  overflow: hidden;
  text-overflow: ellipsis;
}
