.scrollbar::-webkit-scrollbar {
  height: 0.35rem;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #111;
}

.scrollbar::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #e4e4e400;
}
